.message {
    display: flex;
    justify-content: center;
    
    .container {
      width: 900px;
      margin: 30px;
      
      .breadcrumbs {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 11px;
        color: #555;
      }
      
      .messages {
        margin: 30px;
        padding: 50px;
        display: flex;
        flex-direction: column;
  
        .item {
          display: flex;
          gap: 20px;
          max-width: 450;
          font-size: 16px;
          margin-bottom: 20px;
  
          &.owner {
            flex-direction: row-reverse;
            
            p {
              border-radius: 20px 0px 20px 20px;
              background-color: royalblue;
              color: white;
            }
          }
          
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
          }
  
          p {
            padding: 20px;
            background-color: rgb(229, 228, 228);
            border-radius: 0px 20px 20px 20px;
            color: gray;
            width: 400px;
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
  
      hr {
        height: 0;
        border: 0.5px solid rgb(238, 236, 236);
        margin-bottom: 20px;
      }
  
      .write {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        textarea {
          width: 80%;
          height: 80px;
          padding: 10px; 
          border: 1px solid rgb(211, 209, 209);
          border-radius: 10px;
          outline: none;
        }


        button{
            background-color: #1DBF73;
            padding: 20px;
            cursor: pointer;
            width: 100px;
            border: none;
            border-radius: 5px;
            color: white;
            &:hover{
                background-color: #17aa65;
            }
        }
      }
    }
  }
  